body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1e3c72, #6a93cb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }
    
    .White_container {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 1154px;
    height: 600px;
    }
    .left-panel {
    background: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    
    }
    .right-panel {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    }
    .divider {
    position: absolute;
    left: 50%;
    top: 15%;
    bottom: 15%;
    width: 1px;
    background: #ccc;
    transform: translateX(-50%);
    }
    .login_titel {
    margin-bottom: 20px;
    font-size: 20px;
    color: #1e3c72;
    color: #0B0E2E;
    font-size: 40px;
    font-family: Abhaya Libre ExtraBold;
    }
    .inputText {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items:center;
    justify-content: center;
    
    }
    #toggleIcon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    }
    #keeplogin{
    text-align: start;
    }
    
    .login_label{
    color: #606060;
    font-family: Abhaya Libre ExtraBold;
    text-align: start;
    
    }
    .login_submit {
    background: #8AB2ED;
    color: rgb(0, 0, 0);
    border: none;
    font-family: Abhaya Libre ExtraBold;
    font-size: 20px;
    padding: 10px;
    width: 300px;
    height: 39.37px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    }
    button:hover {
    background: #1e3c72;
    color: rgb(255, 255, 255);
    }
    a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-family: Abhaya Libre ExtraBold;
    align-items: end;
    color: #1e3c72;
    font-size: 14px;
    
    }
    a:hover {
    text-decoration: underline;
    }
    .logo {
    width: 325.93px;
    height: 264.40px
    }
